:root {
    --border: 3px solid white;
  }
  
  header {
    background-color: #212121;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
  }
  
  .bracket {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    overflow: visible;
    width: 100%;
  }
  
  section {
    max-width: 200px;
    min-width: 100px;
    padding: 0 20px 0 10px;
    width: 17%;
  }
  
  h1 {
    font-size: 32px;
    text-align:center;
    color: white;
  }
  
  ol {
    display: flex;
    flex-flow: row wrap;
    /*list-style-type: "";*/
    margin: 0;
    min-height: 100%;
    padding: 0;
  }
  
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    position: relative;
    width: 100%;
  }
  
  div:not(.bracket) {
      border: var(--border);
  }
  
  a, span {
    display: block;
  }
  
  section:not(:nth-child(4), :last-child) {
    & li:after, li:before {
      content: "";
      display: block;
      position: absolute;
    }
  
    & li:after {
      right: -16px;
      width: 15px;
    }
  
  a{
    text-align:center;
  }
    & li:nth-child(even):after {
      border-bottom: var(--border);
      border-bottom-right-radius: 0.3em;
      border-right: var(--border);
      bottom: 50%;
      height: 80%;
    }
  
    & li:nth-child(odd):after {
      border-right: var(--border);
      border-top: var(--border);
      border-top-right-radius: 0.3em;
      height: 80%;
      top: 50%;
    }
  
    & li:nth-child(odd):before {
      border-top: var(--border);
      bottom: -32%;
      right: -27px;
      width: 12px;
    }
  }
  
  section:nth-child(4) li:before {
    border-top: var(--border);
    bottom: 50%;
    content: "";
    display: block;
    position: absolute;
    right: -12px;
    width: 12px;
  }
  
  .logo-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between; /* Distribute content evenly */
    align-items: center;
    background-color: #212121;
    padding: 10px 20px;
  }
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center the navigation links */
    flex: 1; /* Allow navigation links to take up remaining space */
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0; /* Remove margin from last navigation item */
  }
  
  .nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
  }